<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <script src="js/vue.js"></script>
    <div id="app">
        <div v-for="(item,index) in list ">
            <div @click="itemClick(item)">
                {{item.title}}
            </div>
            <div v-show='item.flag'>
                <div v-for="(items,indexs) in item.child">


                    {{items}}

                </div>
            </div>

        </div>
    </div>
</head>

<body>
    <script src="js/vue.js"></script>
    <script>
        new Vue({
            el: "#app",
            data: {
                list: [{
                    title: "UI",
                    child: ["项目一", '项目二', "项目三"],
                    flag: true
                }, {
                    title: "UI",
                    child: ["项目一", '项目二', "项目三"],
                    flag: true
                }]
            },
            methods: {
                itemClick(item) {
                    item.flag = !item.flag;
                }
            }
        })
    </script>
</body>

</html>